.ExperienceBlock {
    margin-top: 1.5rem;
}

.para {
    margin-top: 1rem;
}

.ExperienceBlock a {
    color: inherit;
    text-decoration: inherit;
}

.TechChips {
    font-size: .7rem !important;
    border-radius: 5px !important;
}
